<div name="admin_menu_table" style="overflow-y: scroll;height: 100vh;">
    <% for(let opt of food){ %>
        <div class="menu_present" id="food_<%= opt._id %>">
            <div name="img">
                <img src="<%= opt.img %>" alt="pizza_img" width="200px" height="200px">
                <input type='file' id="food_<%= opt._id %>_img" accept="image/*" onchange="displayImage(this)">
            </div>
            <div name="attributes">
                <div>
                    Food Type:
                    <%= opt.type %>
                </div>
                <div ondblclick="toInput(this)" name="title">
                    <%= opt.title %>
                </div>
                <div ondblclick="toInput(this)" name="description">
                    <%= opt.description %>
                </div>
                <div ondblclick="toInput(this)" name="price">
                    <%= opt.price %> $
                </div>
                <br>
                <button onclick="saveMenu(this)">Save</button>
            </div>
        </div>
        <%} %>
</div>
<button onclick="generateNewMenu()"> ADD NEW </button>