<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../scripts/admin_handler.js"></script>
</head>

<body>
    <div class="outer_box">
        <div class="nav_pane">
            <div onclick="view(this)" data="menu" onmouseover="highlight(this)" onmouseleave="unHigh(this)">Menu</div>
            <!-- <div onclick="view(this)" data="users" onmouseover="highlight(this)" onmouseleave="unHigh(this)">Users</div> -->
            <div onclick="view(this)" data="employees" onmouseover="highlight(this)" onmouseleave="unHigh(this)">Employees</div>
            <div onclick="view(this)" data="checkout" onmouseover="highlight(this)" onmouseleave="unHigh(this)">Checkout</div>
            <div onmouseover="highlight(this)" onmouseleave="unHigh(this)">
                <a href="logout">Logout</a></div>
        </div>
        <div name="data_screen">
        </div>
    </div>
</body>

</html>