<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/cart.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="js/chart.js"></script>
</head>
<body>
    <div class="content">
    <div class="inner_content">
        <div class="content_left">
            <div class="back"><a href="/"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></div>
            <div class="order__content">
                <div class="title">
                    <h1>Order Cart</h1>
                    <h3>3 items</h3>
                </div>
                <ul class="order_list">
                    <% for(let item of listOrders){ %> 
                    <li class="order_item">
                        <img src="<%= item.image %>" alt="">
                        <div class="item_des">
                            <h3 class="title_product"><%= item.title %></h3>
                            <p class="des_produc"><%= item.description %></p>
                        </div>
                        <div class="quantity">
                            <% var id = item.id %>
                            <button type="button" data-id="<%= item.id %>" onclick="updateOrder(this)" class="btn_minus"></button>
                            <input type="text" min="0" name="input_quan_<%= item.id %>" value="<%= item.total %>">
                            <button type="button" data-id="<%= item.id %>" onclick="updateOrder(this)"class="btn_plus"></button>
                        </div>
                        <div class="price"><p><%= item.price %></p></div>
                        <div class="delete"> 
                            <button data-id="<%= item.id %>" onclick="updateOrder(this)" class="btn_delete"></button>
                        </div>
                    </li>
                        
                        
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="content_right">
            <h1>Summary</h1>
            <div class="cards">
                <div class="cart">
                    <input type="radio" name="car_type">
                    <input type="radio" name="car_type">
                    <input type="radio" name="car_type">
                    <input type="radio" name="car_type">
                </div>
                <div class="card_infor">
                    <label for="name"> Cardholders's Name</label>
                    <input type="text" name="name" id="">
                    <label for="card_num"> Card Number</label>
                    <input type="number" name="card_num" id="">
                    <label for="expiation">Expiration</label>
                    <input type="date" name="expiation" id="">
                    <label for="cvv">Cvv</label>
                    <input type="number" name="cvv" id="">
                </div>
                <div class="total">
                    <div>
                        <p>Subtotal</p>
                        <p>$5555</p>
                    </div>
                    <div>
                        <p>Delivery</p>
                        <p>$15</p>
                    </div>
                    <div>
                        <p>Total(Incl.taxes)</p>
                        <p>$5570</p>
                    </div>
                    <div class="checkout"><button>CHECKOUT</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>