<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <p class="error" style="display: none; color: red">
        User is already existed
      </p>
      <p class="success" style="display: none; color: green">Success</p>
      <div><label>Username:</label> <input type="text" name="username" /></div>
      <div>
        <label>Password:</label> <input type="password" name="password" />
      </div>
      <button type="button" class="btn-signup" onclick="signup()">
        Sign Up
      </button>
      <p>or</p>
      <a href="/login">Login</a>
    </div>

    <script src="/scripts/signup.js"></script>
  </body>
</html>
